* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: skyblue;
}

.wrapper {
    background: #fff;
    max-width: 410px;
    border-radius: 7px;
    border-top-left-radius: 5% 5%;
    border-top-right-radius: 5% 5%;
    border-bottom-left-radius: 5% 5%;
    border-bottom-right-radius: 5% 5%;
    padding: 16px 25px;
}

header h1 {
    margin-top: 15px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

header p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: gray;
}

.wrapper .qr-code {
    display: flex;
    padding: 60px 30px;
    border-top-left-radius: 5% 5%;
    border-top-right-radius: 5% 5%;
    border-bottom-left-radius: 5% 5%;
    border-bottom-right-radius: 5% 5%;
    align-items: center;
    justify-content: center;
    border: 10px solid #00bfff;
    background-color: #00bfff;
}

.wrapper .qr-code img {
    background: none;
    width: 250px;
    height: 250px;
}

.wrapper_q {
    margin-top: 80px;
    font-size: 18px;
    font-weight: 250;
    text-align: center;
    /* font-style: italic; */
    font-family: 'Times New Roman', Times, serif;
}


/* p a :hover {
    color: red;
} */